/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/


/* setup breadcrumb area */
#breadcrumb-header {
    display: block;
    // make sticky
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    // set breadcrumb divider type
    nav {
        --bs-breadcrumb-divider: '>';
    }
}


/* set up sidebar + content flex grid */ 
@media (min-width: 992px) {
    #wrapper {
        grid-template-columns: 1fr 5fr;
    }
}
@media (min-width: 768px) {
    #wrapper {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 3fr;
    }
}
#sidebar-wrapper {
    grid-area: sidebar;
}
#page-content-wrapper {
    grid-area: main;
    order: 1;
    min-width:0;
}

/* set up sidebar display toggle for mobile */
#sidebar-wrapper {
    display: none;
    z-index: 98;
}
#sidebar-wrapper.sidebar-show {
    display: block;
}
#sidebar-wrapper {
    // make sticky
    position: -webkit-sticky;
    position: sticky;
    // place below breadcrumbs
    top: 3rem;
    height: calc(100vh - 3rem);
    overflow-y: auto;
}
/* set up sticky sidebar for desktop */
@media (min-width: 768px) {
    #sidebarToggle {
        display: none;
    }
    #sidebar-wrapper {
        display: block;
    }
}

/* set up sidebar nav item styles */
.side-bar-item:hover, .side-bar-item:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}
.page-nav-active {
    text-decoration: underline;
}

/* poetry indent */
.indent-1 { padding-left: 2rem; }
.indent-2 { padding-left: 4rem; }
.indent-3 { padding-left: 6rem; }
.indent-4 { padding-left: 8rem; }
.indent-5 { padding-left: 10rem; }